<ion-header>
  <ion-toolbar>
    <ion-buttons color="primary" slot="start">
      <ion-menu-button class="hide-md"></ion-menu-button>
    </ion-buttons>
    <ion-title color="secondary">
      <img src="http://supereleven.nl/assets/global/img/logo_super11.png" height="36px;">
    </ion-title>
  </ion-toolbar>
  <ion-toolbar class="show-md" color="primary">
    <ng-container  *ngFor="let p of appPages">

    <ion-button *ngIf="showMenuItem(p)" fill="solid" [routerLink]="[p.url]" routerLinkActive="active-link">{{p.title}}</ion-button>
    </ng-container>
  </ion-toolbar>

  <app-loader></app-loader>
</ion-header>