<ion-header>
  <ion-toolbar>
    <ion-buttons color="primary" slot="start">
      <ion-menu-button class="hide-md"></ion-menu-button>
    </ion-buttons>
    <ion-title color="secondary">
      <img src="http://supereleven.nl/assets/global/img/logo_super11.png" height="36px;">
    </ion-title>
  </ion-toolbar>
  <ion-toolbar class="show-md" color="primary">
    <ion-button *ngFor="let p of menuService.appPages" fill="solid" [routerLink]="[p.url]" routerLinkActive="active-link">{{p.title}}</ion-button>
  </ion-toolbar>
  <app-loader></app-loader>
</ion-header>