:host{
  --ion-grid-padding: 0;

  ion-card-title {
    font-size: 20px;
  }
  virtual-scroller {
    height: 100vh;
  }

  ion-card.match-card {
    display: block;
    margin: 0;
  }

  ion-content {
    --padding-left: 0;
    --padding-right: 0;
  }
}
