<app-header *ngIf="participant" [showMenu]="false"></app-header>
<ion-toolbar color="light" *ngIf="participant">
    <ion-item color="light" lines="full">
        <span slot="start"> {{participant.position}}</span>
        {{participant.displayName}}
        <span slot="end">{{participant.totalPoints}}</span>
    </ion-item>
</ion-toolbar>
<ion-content>
    <div class="main-content">
        <ion-card *ngFor="let matchPrediction of matchPredictions" class="match-card">
            <ion-card-header>
                <ion-card-subtitle>{{matchPrediction.match.date}}</ion-card-subtitle>
                <ion-card-title>
                    <ion-row>
                        <ion-col no-padding>
                            {{matchPrediction.match.homeTeam}}
                        </ion-col>
                        <ion-col no-padding size="1" text-right>
                            {{matchPrediction.homeScore}}
                        </ion-col>
                    </ion-row>
                </ion-card-title>
                <ion-card-title>
                    <ion-row>
                        <ion-col no-padding>
                            {{matchPrediction.match.awayTeam}}
                        </ion-col>
                        <ion-col no-padding size="1" text-right>
                            {{matchPrediction.awayScore}}
                        </ion-col>
                    </ion-row>
                </ion-card-title>
            </ion-card-header>
            <ion-card-content class="padding-left">
                <ion-item *ngIf="checkIsNotNull(matchPrediction.punten)" lines="none" no-padding>
                    <ion-label>Uitslag {{matchPrediction.match.homeScore}}
                        - {{matchPrediction.match.awayScore}}</ion-label>
                    <ion-badge mode="md" slot="end">{{matchPrediction.punten}}</ion-badge>
                </ion-item>
                <ng-container *ngIf="(isRegistrationOpen$ | async) && canPredict">
                    <ion-item lines="none">
                        <ion-fab-button [color]="round === matchPrediction.homeScore ? 'primary' : 'light'"
                                        (click)="matchPrediction.homeScore = round" size="small"
                                        *ngFor="let round of [0,1,2,3]">
                            {{round}}
                        </ion-fab-button>
                        <ion-fab-button color="light"
                                        (click)="matchPrediction.homeScore = matchPrediction.homeScore +1"
                                        size="small">
                            +
                        </ion-fab-button>
                    </ion-item>
                    <ion-item lines="none">
                        <ion-fab-button [color]="round === matchPrediction.awayScore ? 'primary' : 'light'"
                                        color="light" (click)="matchPrediction.awayScore = round" size="small"
                                        *ngFor="let round of [0,1,2,3]">
                            {{round}}
                        </ion-fab-button>
                        <ion-fab-button color="light"
                                        (click)="matchPrediction.awayScore= matchPrediction.awayScore + 1"
                                        size="small">
                            +
                        </ion-fab-button>
                    </ion-item>
                </ng-container>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>
<ng-container *ngIf="participants && participants.length > 1">
    <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button [disabled]="index === 0" color="secondary" (click)="previous()">
        <ion-icon name="arrow-dropleft"></ion-icon>
    </ion-fab-button>
</ion-fab>
<ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button color="secondary" (click)="close()">
        <ion-icon name="close"></ion-icon>
    </ion-fab-button>
</ion-fab>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [disabled]="index + 1 === participants.length" color="secondary"
                    (click)="next()">
        <ion-icon name="arrow-dropright"></ion-icon>
    </ion-fab-button>
</ion-fab>
</ng-container>
