<ion-row justify-content-between align-items-stretch [class]="position">
  <ion-col *ngFor="let player of players"
           text-center>
    <ion-chip color="primary">
      <ion-icon name="person"></ion-icon>
      <ion-label>{{player.name}}</ion-label>
    </ion-chip>
  </ion-col>
  <ion-col text-center *ngFor="let x of numberOfPlayers">
    <ion-chip outline color="medium" (click)="addPlayer(position)">
      <ion-icon name="person-add"></ion-icon>
      <ion-label>Kies</ion-label>
    </ion-chip>
  </ion-col>
</ion-row>