<ion-row align-items-stretch [ngClass]="line.class">
    <ng-container *ngFor="let player of line.players">
        <ion-col *ngIf="!player.hide"
                 [ngClass]="player.class">
            <ion-chip [outline]="!player.selected"
                      [color]="player.selected ? 'primary' : 'medium'"
                      (click)="addPlayer(line.index, line.position, player)">
                <img class="logo-avatar" *ngIf="player.selected" [src]="player.team.logoUrl">
                <ion-icon *ngIf="!player.selected" [name]="player.selected ? 'person' : 'add'"></ion-icon>
                <ion-label>{{player?.player?.name}} <span *ngIf="player?.player?.name !== 'Kies'"> ({{player?.player?.team}}) </span></ion-label>
                <ion-icon *ngIf="player.selected" color="danger" name="close-circle"></ion-icon>
            </ion-chip>
        </ion-col>
    </ng-container>
</ion-row>
