<ion-toolbar color="primary">
    <ion-item color="primary" lines="full">
        <span slot="start"> {{participant.position}}</span>
        {{participant.displayName}}
        <span slot="end">{{participant.totaalpunten}}</span>
    </ion-item>
</ion-toolbar>
<ion-content>
    <div class="main-content">
        <ng-container *ngFor="let player of participant.teamPredictions">
            <ion-item lines="full" (click)="player.showDetails = !player.showDetails">
                <ion-label [color]="player?.isActive ? 'dark' : 'medium'">
    <span slot="start">
        <img class="logo-avatar" [src]="player.teamPlayer.team.logoUrl">
    </span>
                    <span>
        {{player.teamPlayer.player.name}} ({{player.teamPlayer.position.substring(0,1)}})
                        <ion-icon [color]="player.captainTillRound ? 'medium': 'dark'"
                                  *ngIf="player.captain || player.captainTillRound"
                                  name="star"></ion-icon>
    </span>
                </ion-label>
                <span slot="end">{{player?.teamPlayer?.teamplayertotaalpunten.totaal}}</span>
            </ion-item>
            <ng-container *ngIf="player.showDetails && player.teamPlayer.teamplayertotaalpunten.played > 0">
               <app-player-detail-score [player]="player.teamPlayer"></app-player-detail-score>
            </ng-container>
        </ng-container>
    </div>
</ion-content>
<ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button [disabled]="index === 0" color="medium" (click)="previous()">
        <ion-icon name="arrow-back"></ion-icon>
    </ion-fab-button>
</ion-fab>
<ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button color="medium" (click)="close()">
        <ion-icon name="close"></ion-icon>
    </ion-fab-button>
</ion-fab>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [disabled]="index + 1 === participants.length" color="medium"
                    (click)="next()">
        <ion-icon name="arrow-forward"></ion-icon>
    </ion-fab-button>
</ion-fab>

