<app-header></app-header>
<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title color="primary">
                Spelregels en puntentelling
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <br> Super Eleven is een voetbalspel waarbij een door jouw gekozen team (jouw Super Eleven) punten scoort
            door
            hun verrichtingen in de Eredivisie seizoen 2020-2021.
            <br><br> <b>Team formeren</b> <br>
            Een team bestaat uit 11 spelers van 11 verschillende clubs uit de Eredivisie. Van elke club mag er dus
            maximaal één speler geselecteerd worden. Er zijn daarmee 11 clubs die je gebruikt, en 7 clubs die je niet
            gebruikt. Je bepaald zelf in welke formatie je speelt. Daarin heb je de keuze tussen 1-4-3-3, 1-4-4-2 en
            1-3-4-3.
            <br><br><b>Aanvoerder</b><br>
            Kies binnen jouw team één speler die je aanvoerder maakt. Je aanvoerder verdiend (mits hij speelt) elke speelronde dubbele punten. Echter tellen strafpunten ook dubbel.
<br><br>
            NIEUW: Je kunt ook van aanvoerder wisselen, echter kost je dat 1 transfermogelijkheid.
            <br><br>
            <b>Transfers</b><br>
            Bij aanvang van het spel krijg je 6 transfermogelijkheden. Er is geen transferperiode meer in de
            winterstop zoals voorgaande jaren. Gedurende het seizoen bepaal je zelf wanneer je een speler uit je
            team wisselt. Wanneer je al je transfers hebt verbruikt speel je verder met team dat er op dat
            moment staat. Denk dus goed na voordat je een speler wisselt!
            <br><br>
            <div class="table-scrollable">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <td>Puntentelling</td>
                        <td>K</td>
                        <td>V</td>
                        <td>M</td>
                        <td>A</td>
                    </tr>
                    </thead>
                    <tr>
                        <td>Gespeelde wedstrijd</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td> Winst team</td>
                        <td>2</td>
                        <td>2</td>
                        <td>2</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>Gelijkspel team</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>Doelpunt</td>
                        <td>10</td>
                        <td>6</td>
                        <td>4</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>Assist</td>
                        <td>8</td>
                        <td>4</td>
                        <td>3</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>Team houdt de nul</td>
                        <td>4</td>
                        <td>2</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>Keeper stopt penalty</td>
                        <td>6</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>Speler mist penalty</td>
                        <td>-3</td>
                        <td>-3</td>
                        <td>-3</td>
                        <td>-3</td>
                    </tr>
                    <tr>
                        <td>Eigen doelpunt</td>
                        <td>-4</td>
                        <td>-4</td>
                        <td>-4</td>
                        <td>-4</td>
                    </tr>
                    <tr>
                        <td>Gele kaart</td>
                        <td>-2</td>
                        <td>-2</td>
                        <td>-2</td>
                        <td>-2</td>
                    </tr>
                    <tr>
                        <td>2x geel (is rood)</td>
                        <td>-6</td>
                        <td>-6</td>
                        <td>-6</td>
                        <td>-6</td>
                    </tr>
                    <tr>
                        <td>Rode kaart (direct)</td>
                        <td>-8</td>
                        <td>-8</td>
                        <td>-8</td>
                        <td>-8</td>
                    </tr>
                </table>
            </div>
            <br><br> Gegevens voor de puntentelling worden verkregen via de officiële statistieken van de KNVB. Bij evt.
            twijfelgevallen beslist de organisatie. Hierover kan niet gecorrespondeerd worden.
            <br><br> Naast de spelers van jouw Super Eleven team kun je ook punten verdienen met de eindstand van de
            Eredivisie,
            diverse bonusvragen en het voorspellen van uitslagen van een aantal wedstrijden.
            <br><br>
            <div class="table-scrollable ">
                <table class="table table-striped ">
                    <thead>
                    <tr>
                        <td><b>Eindstand eredivise</b></td>
                        <td>Punten</td>
                    </tr>
                    </thead>
                    <tr>
                        <td>Club op juiste plek</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td>1 plek verschil</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>2 plekken verschil</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>Kampioen goed</td>
                        <td>15</td>
                    <tr>
                        <td><b>Bonusvragen</b></td>
                        <td>Punten</td>
                    </tr>
                    <tr>
                        <td>Bonusvragen Per goed antwoord</td>
                        <td>20</td>
                    </tr>
                    <tr>
                        <td><b>Wedstrijden</b></td>
                        <td>Punten</td>
                    </tr>
                    <tr>
                        <td>Uitslagen wedstrijden goed</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td>Alleen toto wedstrijden goed (1X2)</td>
                        <td>3</td>
                    </tr>
                </table>
            </div>
            <br><br> We spelen mee vanaf speelronde 5 (weekend van 18 en 19 oktober 2020), dit geldt dus ook
            voor sommige bonusvragen.

            <br><br> Inleg is € 10,- , hiervan gaat 90% naar de prijzenpot. De verdeling van de prijzenpot zal
            kort na
            de start bekend gemaakt worden.
            <br><br> Je deelname dient uiterlijk zaterdag 18 oktober 2020 om 18.00 uur ingestuurd te zijn. De
            inleg van €10,-
            kan worden overgemaakt naar NL88 INGB 0795 9351 37 tnv RLL Verberkt met de omschrijving Super Eleven.
            <br><br> Veel succes!
        </ion-card-content>
    </ion-card>
</ion-content>
