// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
//$safe-area-inset-top: env(safe-area-inset-top);
//$safe-area-inset-bottom: env(safe-area-inset-bottom);

//https://ionicframework.com/docs/theming/color-generator
/** Ionic CSS Variables **/
:root {
  --ion-font-family: 'Quicksand';

  --ion-color-primary: #162459;
  --ion-color-primary-rgb: 22,36,89;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #13204e;
  --ion-color-primary-tint: #2d3a6a;

  --ion-color-secondary: #97bf12;
  --ion-color-secondary-rgb: 151,191,18;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #85a810;
  --ion-color-secondary-tint: #a1c52a;

  --ion-color-tertiary: #8c1c18;
  --ion-color-tertiary-rgb: 140,28,24;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #7b1915;
  --ion-color-tertiary-tint: #98332f;

  --ion-color-success: #188c28;
  --ion-color-success-rgb: 24,140,40;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #157b23;
  --ion-color-success-tint: #2f983e;

  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255,206,0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255,255,255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  --ion-color-danger: #d33939;
  --ion-color-danger-rgb: 211,57,57;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #ba3232;
  --ion-color-danger-tint: #d74d4d;


  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34,34,34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152,154,162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,244,244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

ion-segment-button {
  --indicator-color: rgba(255,255,255,0.1);
  --indicator-color-checked: #97bf12;
  --color-checked: #E7E5DF;
  --color: #E7E5DF;
  --ion-text-color-rgb: #E7E5DF;
}
