<app-header></app-header>
<ion-toolbar color="light">
    <ion-item color="light">
        <ion-label>Kies ronde</ion-label>
        <ion-select  [(ngModel)]="activeRound" [interfaceOptions]="customPopoverOptions" interface="alert"
                     (ionChange)="filterRounds($event)">
            <ion-select-option value="Totaal">Totaal</ion-select-option>
            <ion-select-option *ngFor="let round of rounds" value="{{round.id}}">
                {{round.name}}
            </ion-select-option>
        </ion-select>
    </ion-item>
    <ion-searchbar (ionChange)="search($event)" placeholder="Zoek deelnemer" debounce="500"></ion-searchbar>
</ion-toolbar>
<ion-content>
    <ion-item *ngIf="!(isLoading | async) && stand === null">
    Er is nog geen stand bekend
    </ion-item>
    <ng-container *ngFor="let participant of stand; let i = index">
        <ion-item lines="full" (click)="openDetails(i)">
            <span slot="start"> {{participant.position}}</span>
            {{participant.displayName}}
            <span slot="end">{{participant.totaalpunten}}</span>
        </ion-item>
    </ng-container>
</ion-content>
