<app-header></app-header>
<ion-toolbar color="light">
    <ion-item color="light">
        <ion-label>Kies ronde</ion-label>
        <ion-select  [(ngModel)]="activeRound" [interfaceOptions]="customPopoverOptions" interface="alert"
                     (ionChange)="filterRounds($event)">
            <ion-select-option value="Totaal">Totaal</ion-select-option>
            <ion-select-option *ngFor="let round of rounds" value="{{round.id}}">
                {{round.name}}
            </ion-select-option>
        </ion-select>
    </ion-item>

</ion-toolbar>
<ion-toolbar>
    <ion-item color="secondary">
        <span slot="start">Pos</span>
        <span>naam</span>
        <span slot="end"> punten</span>
    </ion-item>
</ion-toolbar>
<ion-content>
    <ng-container *ngFor="let participant of stand; let i = index">
        <ion-item lines="full" (click)="participant.showdetail = !participant.showdetail">
            <span slot="start"> {{i + 1}}</span>
            {{participant.displayName}}
            <span slot="end">{{participant.totaalpunten}}</span>
        </ion-item>
        <ng-container *ngIf="participant.showdetail">
            <app-playerStandItem *ngFor="let player of participant.teamPredictions" [player]="player"></app-playerStandItem>
        </ng-container>
    </ng-container>
</ion-content>
