<ion-toolbar [color]="color">
    <ion-item lines="none" [color]="color">
        <ion-label>Kies ronde</ion-label>
        <ion-select [(ngModel)]="activeRound" [interfaceOptions]="customPopoverOptions" interface="action-sheet"
                    (ionChange)="filterRounds($event)">
            <ion-select-option *ngIf="showTotaal" value="Totaal">Totaal</ion-select-option>
            <ion-select-option *ngFor="let round of rounds" [value]="round.id">
                Ronde {{round.name}}
            </ion-select-option>
        </ion-select>
    </ion-item>
</ion-toolbar>
