:host {
  ion-content {
    --background: transparent;
  }

  ion-list {
    background: transparent;
  }
  ion-toolbar {
    --background: transparent;
  }
  ion-item {
    --background: transparent;
  }

  .active-item {
    border-left: 8px solid var(--ion-color-primary);
  }
 .inactive-item {
    padding-left: 8px;
  }

  ion-item {
    --padding-end: 0px;
  }

  ion-label {
    padding-left: 10px;
  }
}
