:host {
  .active-item {
    border-left: 8px solid var(--ion-color-secondary);
  }
 .inactive-item {
    padding-left: 8px;
  }

  ion-item {
    --padding-end: 0px;
  }

  ion-label {
    padding-left: 10px;
  }

}
