<ion-item *ngIf="player.teamplayertotaalpunten.played > 0">
  Gespeeld: <span slot="end">{{player.teamplayertotaalpunten.played}}</span>
</ion-item>
<ion-item *ngIf="player.teamplayertotaalpunten.win > 0">
  Winst: <span slot="end">{{player.teamplayertotaalpunten.win}}</span>
</ion-item>
<ion-item *ngIf="player.teamplayertotaalpunten.draw > 0">
  Winst: <span slot="end">{{player.teamplayertotaalpunten.draw}}</span>
</ion-item>
<ion-item *ngIf="player.teamplayertotaalpunten.goals > 0">
  Doelpunten: <span slot="end">{{player.teamplayertotaalpunten.goals}}</span>
</ion-item>
<ion-item *ngIf="player.teamplayertotaalpunten.assists > 0">
  Assists: <span slot="end">{{player.teamplayertotaalpunten.assists}}</span>
</ion-item>
<ion-item *ngIf="player.teamplayertotaalpunten.owngoal > 0">
  Eigen doelpunt: <span slot="end">{{player.teamplayertotaalpunten.owngoal}}</span>
</ion-item>
<ion-item *ngIf="player.teamplayertotaalpunten.penaltymissed > 0">
  Penalty gemist: <span slot="end">{{player.teamplayertotaalpunten.penaltymissed}}</span>
</ion-item>
<ion-item *ngIf="player.teamplayertotaalpunten.cleansheet > 0">
  De nul: <span slot="end">{{player.teamplayertotaalpunten.cleansheet}}</span>
</ion-item>
<ion-item *ngIf="player.teamplayertotaalpunten.penaltystopped > 0">
  Penalty gestopt: <span slot="end">{{player.teamplayertotaalpunten.penaltystopped}}</span>
</ion-item>
<ion-item *ngIf="player.teamplayertotaalpunten.yellow > 0">
  Geel: <span slot="end">{{player.teamplayertotaalpunten.yellow}}</span>
</ion-item>
<ion-item *ngIf="player.teamplayertotaalpunten.secondyellow > 0">
  2x Geel: <span slot="end">{{player.teamplayertotaalpunten.secondyellow}}</span>
</ion-item>
<ion-item *ngIf="player.teamplayertotaalpunten.red > 0">
  Rood: <span slot="end">{{player.teamplayertotaalpunten.red}}</span>
</ion-item>
