<app-header></app-header>
<ion-toolbar>
    <ion-item>
        <ion-label>Filter Team</ion-label>
        <ion-select [interfaceOptions]="teamPopoverOptions" interface="popover"
                    (ionChange)="filterPlayers($event)">
            <ion-select-option *ngFor="let team of teams" value="{{team.name}}">
                <img class="logo-avatar" [src]="team.logoUrl"> {{team.name}}</ion-select-option>
        </ion-select>
    </ion-item>
    <ion-searchbar (ionChange)="search($event)" placeholder="Zoek speler" debounce="500"></ion-searchbar>
</ion-toolbar>
<ion-content>

    <ion-list>
        <ion-item *ngFor="let player of players">
            <span slot="start">
                <img class="logo-avatar" [src]="player.team.logoUrl">
            </span>
            {{player.player.name}}
            <ion-select slot="end" [(ngModel)]="player.position" [interfaceOptions]="customPopoverOptions" interface="alert"
                        (ionChange)="savePositie($event, player)">
                <ion-select-option value="Goalkeeper">Goalkeeper</ion-select-option>
                <ion-select-option value="Defender">Defender</ion-select-option>
                <ion-select-option value="Midfielder">Midfielder</ion-select-option>
                <ion-select-option value="Attacker">Attacker</ion-select-option>
            </ion-select>
            <ion-button slot="end" color="danger" (click)="setPlayerInActive(player)">Delete</ion-button>
        </ion-item>
    </ion-list>
</ion-content>
