<app-header></app-header>
<ion-toolbar color="light">
    <app-round-selector [showTotaal]="true" color="light" [rounds]="rounds" (roundChange)="roundChange($event)"></app-round-selector>
    <ion-searchbar (ionChange)="search($event)" placeholder="Zoek speler" debounce="500"></ion-searchbar>
</ion-toolbar>
<ion-content>
    <ion-tabs>
        <ion-tab-bar slot="bottom">
            <ion-tab-button tab="punten">
                <ion-icon name="stats"></ion-icon>
                <ion-label>Punten</ion-label>
            </ion-tab-button>
            <ion-tab-button tab="gekozen">
                <ion-icon name="people"></ion-icon>
                <ion-label color="medium">Gekozen</ion-label>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>
</ion-content>
