// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import "./theme/variables";

@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500');


:root {
  --ion-font-family: 'Quicksand';

  @each $size, $size-value in (
          xs: 0,
          sm: 576px,
          md: 768px,
          lg: 992px,
          xl: 1200px
  ) {
    .hide-#{$size} {
      @media (min-width: $size-value) {
        display: none;
      }
    }
  }
  @each $size, $size-value in (
          xs: 0,
          sm: 576px,
          md: 768px,
          lg: 992px,
          xl: 1200px
  ) {
    .show-#{$size} {
      @media (max-width: $size-value) {
        display: none;
      }
    }
  }

  //ion-item {
  //--padding-start: 2px;
  //--padding-end: 2px;
  //}

  ion-button {
    margin-top: 16px;
  }

  .main-content {
    padding-bottom: 60px;
  }

  ion-card.main-card {
    padding: 0;
    margin: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: transparent 0 0 0 0;
    box-shadow: transparent 0 0 0 0;
    //min-height: calc(100vh - 44px)
  }

  ion-card-content.padding-left {
    padding: 0 0 20px 20px;
  }

  .formation-line {
    padding-bottom: 5px;
    border-bottom: 1px solid #aeaeae
  }

  .justify-content-center {
    justify-content: center;
  }

  .text-right {
    text-align: right !important;
  }

  .text-center {
    text-align: center !important;
  }

  .text-left {
    text-align: left !important;
  }

  .logo-avatar {
    border-radius: 0;
    width: 24px;
    height: 24px;
    margin-right: 5px;
  }

  @media only screen and (min-height: 768px) and (min-width: 768px) {
    ion-modal {
      --height: 85%;
      --width: 85%;
    }
  }
}
