<app-header></app-header>
<ion-content>
    <ion-item *ngIf="!(isLoading | async) && players === null">
        Statistieken worden pas na de deadline getoond
    </ion-item>
    <ng-container *ngFor="let player of players">
        <ion-item (click)="player.showDetails = !player.showDetails">
            <img class="logo-avatar" [src]="player.team.logoUrl">
            <ion-label>{{player.player.name}}</ion-label>
            {{player.gekozen}}
        </ion-item>
        <ng-container *ngIf="player.showDetails">
            <ion-item *ngFor="let predictor of player.teamPredictions">
                {{predictor.participant.displayName}}
            </ion-item>
        </ng-container>
    </ng-container>
</ion-content>
